body {
  background-color: white;
  font: Garamond;
}

.heading {
  border: 1px solid black;
}

.heading-matrix {
  margin: 10px;
  text-align: left;
}

.btn-matrix {
  background-color: #0D0208;
  color: #00FF41;
  border: 2px solid #00FF41;
  padding: 12px 25px;

  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-matrix:hover {
  background-color: #00FF41;
  color: #0D0208;
  box-shadow: 0 0 15px #00FF41;
  transition: 0.3s;
}

.heading-neon {
  margin: 10px;
  text-align: left;
}

.heading-cosmic {
  margin: 10px;
  text-align: left;
}

h1 {
  font-family: Garamond;
}

h2 {
  font-family: Garamond, serif;
  font-weight: bold;
}

h3 {
  font-family: Garamond;
}

.color-palette-matrix {
  display: flex;
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

.color {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  color: white;
  font-family: Garamond , sans-serif;
  font-weight: bold;
}

.c1 {
  background-color: #0D0208;
}

.c2 {
  background-color: #003B00;
}

.c3 {
  background-color: #008F11;
}

.c4 {
  background-color: #00FF41;
}

.color-palette-neon {
  display: flex;
  width: 400px;
  height: 150px;
}

.color {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  color: white;
  font-family: Garamond, sans-serif;
  font-weight: bold;
}

.cn1 {
  background-color: #080B18;
}

.cn2 {
  background-color: #8B5CF6;
}

.cn3 {
  background-color: #00E5FF;
}

.cn4 {
  background-color: #EDF6FF;
}

.color-palette-cosmic {
  display: flex;
  width: 400px;
  height: 150px;
}

.cc1 {
  background-color: #070A0F;
}

.cc2 {
  background-color: #101D42;
}

.cc3 {
  background-color: #FF5C00;
}

.cc4 {
  background-color: #EAF2FF;
}
